@import '../../../../scss/variables';

.image {
  max-width: 150px;
  width: 100%;
}

.imageContainer {
  justify-self: center;
  align-self: center;
}

.cardContainer {
  margin-bottom: 1rem;
  width: 100%;
}

.cardHeader {
  padding: 1rem 1rem 0;
}

.cardContent  {
  padding: 0;
}

.productCounter {
  margin-bottom: 1rem;
  span {
    font-weight: bold;
  }
}

.productCategories {
  color: $rmd-theme-secondary;
}

.productInfo span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.productInfoContainer {
  display: flex;
  align-items: center;
}

.productDescription {
  margin-bottom: 0.8rem;
}

.iconWrapper {
  background-color: $rmd-theme-secondary;
  border-radius: 50%;
  display: flex;
  padding: 0.5rem;
  svg {
    fill: $rmd-theme-tertiary;
  }
}